html, body {
  display: flex;
  margin: auto;
  background-color: #e9e9e9;
  font-family: Calibri, 'Trebuchet MS', sans-serif;
}

body {
  justify-content: center;
  align-items: center;
}

.main {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.icon {
  width: 50px;
  height: 50px;
  margin: 0 10px 0 10px;
}

.icon:hover {
  background-color: #FFFFFF;
}

.container {
  box-shadow: -10px -10px 15px rgba(255,255,255,0.5), 10px 10px 15px rgba(100,70,70,0.12);
  border-radius: 15px;
  margin: 15px;
  padding: 20px;
}

.side {
  justify-content: flex-start;
}

.bot {
  width: 300px;
  margin: 15px;
}

.vert {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.text {
  width:240px;
  margin: 0 10px 0 10px;
}

.generate {
  background: #6db8ed;
  width: 240px;
  height:30px;
  margin: 10px;
}

.generate:hover {
  background: #FFFFFF;
}

.selected {
  border: 5px solid #6db8ed;
  box-sizing: border-box;
}

.regularbut {
  background: #f0fcfc;
  width:110px;
  height:30px;
  margin:10px;
}

.regularbut:hover {
  background: #bae2ff;
}

.butts {
  cursor: pointer;
  box-shadow: -10px -10px 15px rgba(255,255,255,0.5), 10px 10px 15px rgba(100,70,70,0.12);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.butts:active {
  box-shadow: inset -10px -10px 15px rgba(255,255,255,0.5), inset 10px 10px 15px rgba(70,70,70,0.12);
}

.selL {
  width:80px;
  height:30px;
  margin: 0;
  border-radius: 15px 0 0 15px ;
}

.selC {
  width:78px;
  height:30px;
  margin: 0 1px 0 1px;
}

.selR { 
  width:80px;
  height:30px;
  margin: 0;
  border-radius: 0 15px 15px 0;
}

.selcontainer {
  box-shadow: -10px -10px 15px rgba(255,255,255,0.5), 10px 10px 15px rgba(100,70,70,0.12);
  border-radius: 15px;
  margin: 10px;
  padding: 0px;
}

.sel {
  cursor: pointer;
  background: #f0fcfc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sel:hover {
  background: #bae2ff;
}

.sel:active {
  box-shadow: inset -10px -10px 15px rgba(255,255,255,0.5), inset 10px 10px 15px rgba(70,70,70,0.12);
}
